<div class="container">
  <div class="row">

    <div class="col-sm-offset-4 col-sm-4">

      <div class="page-header text-center">
        <h2>La Bienvenida a la Administración</h2>
      </div>

      <br>

      <div class="list-group">
        <a href="#" class="list-group-item active">
          Los Departamentos
        </a>
        <% @departments.each do |dept| %>
          <a href="<%= admin_item_path(dept) %>" class="list-group-item"><%= dept.name %></a>
        <% end %>
      </div>

    </div>

  </div>
</div>