<div class="container styled-container">

  <div class="panel dept-panel">

    <div class="panel-body">

      <h4 class="dept-heading">
        <%= page_entries_info(@items, {}) %>
      </h4>

      <%= render 'departments/items', items: @items %>

    </div>
  </div>

  <br>

  <div class="pagination-container">
      <%= will_paginate @items,
                        renderer:       BootstrapPagination::Rails,
                        inner_window:   1,
                        outer_window:   0,
                        previous_label: '&laquo;',
                        next_label:     '&raquo;'  %>
  </div>
</div>