<div class="panel dept-panel">

  <div class="panel-body">

    <% if @items.nil? %>
      <div class="view-all"><a href="#"><%= link_to 'View all', department_path(department) %></a></div>
    <% end %>

    <h4 class="dept-heading">Coming Soon in <%= department.name %></h4>

    <%= render 'items', items: @items || department.items %>

  </div>  <!-- panel-body -->
</div>    <!-- panel      -->