<%# @items is set by the show action, so we're on the index if it's nil %>
<%# TODO: Make the index and show views more independent to avoid this variable %>
<% index_flag = @items.nil? %>

<div class="panel dept-panel">

  <div class="panel-body">

    <% if index_flag %>
      <div class="view-all">
        <a href="#">
          <%= link_to t('dept.index.view_all'), short_dept_path(department) %>
        </a>
      </div>
    <% end %>

    <h4 class="dept-heading">
      <%= t('dept.index.coming_soon', dept: t("dept.#{department.name}")) %>
    </h4>

    <%= render 'items', items: (@items || department.items) if (@items || department.items) %>

  </div>  <!-- panel-body -->
</div>    <!-- panel      -->