<div id="featured">
  <% Feature.all.each do |feature| %>
    <div>
      <a href="<%= item_path feature.item_id %>">
        <%= image_tag feature.image, size: '330x150' %>
      </a>
    </div>
  <% end %>
</div>