<%= render 'featured' %>

<div class="container dept-container">

  <!-- TODO: Implement search and extract this CSS -->
  <div class="row" style="padding: 20px 15px 0 15px">
    <div class="col-sm-offset-6 col-sm-6">
      <form class="" role="search">
        <div class="input-group">
          <input type="text" style="padding-left:15px;border-radius:18px 0 0 18px !important;border-right: none;" class="form-control" placeholder="Search">
          <span type="submit" style="background-color: white;border-radius:0 18px 18px 0 !important;box-shadow:none !important;-webkit-box-shadow:none;border-left:0;" class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
      </form>
    </div>
  </div>

  <%= render @departments %>

  <br>

</div>