/*
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

$navbar-inverse-bg:          #434343;
$navbar-inverse-brand-color: white;
$navbar-height:              42px;
$body-bg: #f9f9f9;

$panel-default-heading-bg:   #fff;
$panel-default-border: #d5d5d5;

$border-radius-base:        0;
$panel-border-radius:       4px;

/* TODO: Follow the steps on the bootstrap-sass GitHub page to remove
*  unused components when the time comes. */
@import "bootstrap";

body {
  padding-top: $navbar-height + 20px;
  font-family: 'trebuchet ms', verdana, arial;
}

.panel-heading { border-bottom: 0 }
.panel-body, .alert-form {
  margin: 0;
  border: 0;
  border-top: 1px solid $panel-default-border;
}

.navbar {
  opacity:      .95;
  box-shadow:   0 3px 5px rgba(0,0,0,0.1);
}
.navbar-brand { font-family: 'Rock Salt', cursive; }
.navbar form input {
  background-color: $navbar-inverse-bg;
  border: 0;
  color: $navbar-inverse-color;
  padding: 10px 15px;
}

.social-box { margin-top: 10px; }
.control-label { font-weight: normal; }
.btn-bottom { margin-bottom: -12px; }
.site-wide { margin-top: -20px; }
input.form-control { border-radius: $border-radius-base; }

.half-width {
  float: left;
  width: 49%;
}