/*
 *= require_tree .
 *= require_self
 */

$navbar-default-bg:          #f4f4f4;
$navbar-default-brand-color: #333;
$navbar-height:              50px;
$panel-default-heading-bg:   #fff;
$panel-default-border:       #e5e5e5;
$navbar-default-border:      #e5e5e5;
$btn-font-weight:            300;
$headings-font-weight:       300;

$screen-md:    960px;   // TODO: Work in progress
$screen-sm:    640px;   // Check variables for
$container-sm: 640px;   // tables, desktop etc
$container-md: 960px;   // and test more thoroughly
$container-lg: $container-md;

/*
 * TODO: Follow the steps on the bootstrap-sass GitHub page
 *       to remove unused components when the time comes.
 */
@import "bootstrap";

/* TODO: Consider serving this font locally (if legal)
 * Brand font
 */
@import url(http://fonts.googleapis.com/css?family=Orbitron&text=Preorda);

/*
 * Changes to Bootstrap defaults
 */

* { border-radius: 0 !important; } // Setting the sass var above doesn't work
body {
  padding:          51px 0 0 0;
  font-weight:      300;
  background-color: #f4f4f4;
}
input { box-shadow: none !important; }
.panel {
  -webkit-box-shadow: none;
  box-shadow:         none;
  margin:             0;
}
.panel-body, .alert-form {
  margin: 0;
  border: 0;
}
.dropdown-menu { margin-top: -1px;}

/*
 * Navbar styles
 */

a.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size:   180%;
  padding:     14px;
  line-height: 32px;
}
a.navbar-brand:hover {
  color: $brand-primary !important;
}
button.navbar-toggle {
  border-color: $navbar-default-bg !important;
}
button.search-toggle {
  padding: 13px 16px 11px 16px;
  margin:  2px 0;
}
input#q {
  margin-right: -5px;
  border-color: #e5e5e5;
}
button#search-button {
  border-color: #e5e5e5;
  color:        #777777;
  text-decoration: none;
}
button#search-button:focus {
  outline-width:  2px;  //TODO: Style other button/input outlines
  outline-offset: -3px;
}
.logout-link {
  @extend .navbar-link;

  padding:    15px 25px 15px 15px;
  font-size:  14px;
  background: none;
  border:     none;
}

/*
 *  Section heading styles (MVG under header)
 */

.sections-wrapper {
  display:      table;
  table-layout: fixed;
  width:        100%;
}
.section-heading {
  display:    table-cell;
  height:     20px;
  color:      #ffffff;
  text-align: center;
  //padding:    0 !important;

  a {
    padding:         3px;
    font-size:       90%;
    display:         inline-block;
    width:           100%;
    color:           #ffffff;
    text-decoration: none;
    span { display:  none; }
  }

  a:hover {
    i    { display: none; }
    span { display: block; }
  }
}
.glyphicon-video { @extend .glyphicon-film }
.glyphicon-games { @extend .glyphicon-phone }

/*
 *  Featured items hero styles
 */

div#featured {
  background-color: #e5e5e5;
  white-space:      nowrap;
  overflow:         hidden;
  clear:            both;
  padding:          0;
  margin:           0 -15px;
}
div#featured div {
  display:      inline;
  position:     relative;
  margin-right: -4px;
  padding:      0;
}

/*
 * Site-wide styles
 */

.styled-container {
  margin-bottom:    -20px;
  //padding-bottom:   40px;
  background-color: #ffffff;
  border:           1px solid #e5e5e5;
  border-width:     0 1px;
  //box-shadow: 0 3px 5px #d7d7d7;
}

/*
 * Form and alert styles
 */

.social-box     { margin-top: 10px;     }
.form-container { margin-top: 20px;     }
.control-label  { font-weight: 300;     }
.btn-bottom     { margin-bottom: -12px; }
.site-wide-alert {
  margin: 0;
  border: none;
}
.half-width-btn {
  float: left;
  width: 49%;
}

/*
 * will_paginate styles
 */

.pagination-container {
  width:         100%;
  text-align:    center;
  margin-top:    -20px;

  .disabled span {
    padding-right: 7px;
    padding-left:  7px;
  }

  .prev.disabled span, .next.disabled span {
    padding-right: 12px;
    padding-left:  12px;
  }
}

/*
 * Footer styles
 */

.footer {
  color:            #c0c0c0;
  background-color: #404040;
  width:            100%;
  padding:          20px 30px 30px;
  margin-top:       20px;

  a { color:        #c0c0c0; }

  a:hover {
    color:           white;
    text-decoration: none;
  }
}
.footer-separator {
  height:           1px;
  margin-bottom:    8px;
  background-color: #c0c0c0;
}
.footer-sc {
  border-radius: 25px !important;
  margin-top:    10px;
}

// Put these at the bottom to avoid them being overridden
.dept-panel {
  margin: 0 -15px;
  border:         0;
}
.dept-preview {
  border-bottom: 1px solid $navbar-default-border;
}
.music-colour { background-color: $brand-primary; }
.games-colour { background-color: $brand-danger;  }
.video-colour { background-color: $brand-success; }

.label-music  { @extend .label-primary }
.label-games  { @extend .label-danger  }
.label-video  { @extend .label-success }

.btn-play     { @extend .btn-danger  }
.btn-amazon   { @extend .btn-warning }
.btn-itunes   { @extend .btn-info    }

/*
 * Media query styles
 */

@media(max-width: $screen-sm) {
  .styled-container { border: 0; }
  .navbar-form {
    padding: 0 12px;
    border:  0;
  }
  .navbar-form .form-group { margin-bottom: 0; }
}