/*
 *= require_tree .
 *= require_self
 */

//@import url(http://fonts.googleapis.com/css?family=Orbitron&text=LaunchBro);

$navbar-default-bg:          #f2f2f2;
$navbar-default-brand-color: #333;
$navbar-height:              54px;
$panel-default-heading-bg:   #fff;
$panel-default-border:       #d5d5d5;
$navbar-default-border:      #e5e5e5;
$btn-font-weight:            300;
$headings-font-weight:       300;

$screen-md: 966px;      // TODO: Work in progress
$screen-sm: 642px;      // Check variables for
$container-sm: 642px;   // tables, desktop etc
$container-md: 966px;
$container-lg: $container-md;

@media(max-width: $screen-sm+1) {
  .dept-container { border: 0; }
}

@media(max-width: $screen-sm+1) {
  .navbar-form {
    padding: 0 12px;
    border: 0;
  }
  .navbar-form .form-group { margin-bottom: 0; }
}

/* TODO: Follow the steps on the bootstrap-sass GitHub page
 *       to remove unused components when the time comes.
 */
@import "bootstrap";

* { border-radius: 0 !important; }

body {
  padding: 55px 0 0 0;
  font-weight: 300;
  background-color: #f2f2f2;
}

a.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 180%;
  padding: 21px 10px;
}
a.navbar-brand:hover {
  color: $brand-primary !important;
}
button.navbar-toggle { border-color: $navbar-default-bg !important; }

input { box-shadow: none !important; }

/*      Section heading icons (under header)    */

.section-heading {
  float:      left;
  width:      33.3333333%;
  color:      #ffffff;
  text-align: center;
  padding:    0 !important;
  a {
    padding:    3px;
    font-size: 90%;
    display:    inline-block;
    width:      100%;
    color:      #ffffff;
    text-decoration: none;
    span { display: none; }
  }
  a:hover {
    i    { display: none; }
    span { display: block; }
  }
}


.glyphicon-video { @extend .glyphicon-film }
.glyphicon-games { @extend .glyphicon-phone }

ul.dropdown-menu { margin-top: 0; }

div#featured {
  background-color: black;
  white-space: nowrap;
  overflow: hidden;
  clear: both;
  padding: 0;
  margin: 0 -15px;
}

div#featured div {
  display:  inline;
  position: relative;
  margin-right: -4px;
  padding: 0;
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}

.panel-body, .alert-form {
  margin: 0;
  border: 0;
}

.social-box { margin-top: 10px; }
.form-container { margin-top: 20px; }
.control-label { font-weight: 300; }
.btn-bottom { margin-bottom: -12px; }
.site-wide { margin: 0; border: none; }

.half-width {
  float: left;
  width: 49%;
}

.dept-panel {
  margin-bottom:  -20px;
  border:         0;
  .panel-body {padding-bottom: 0;}
}

.pagination-container {
  width:      100%;
  text-align: center;
  .disabled span {
    padding-right: 7px;
    padding-left:  7px;
  }

  .prev.disabled span, .next.disabled span {
    padding-right: 12px;
    padding-left:  12px;
  }
}

.logout-link {
  @extend .navbar-link;

  padding:    17px 25px 17px 15px;
  font-size:  14px;
  background: none;
  border:     none;
}

.footer {
  color: #c0c0c0;
  background-color:#404040;
  width: 100%;
  padding: 30px;
  padding-top: 20px;
  margin-top: 20px;
  a { color: #c0c0c0; }
  a:hover {
    color: white;
    text-decoration: none;}
}

.sep {
  height: 1px;
  margin-bottom: 8px;
  background-color: #c0c0c0;
}

.music-colour { background-color: $brand-primary; }
.games-colour { background-color: $brand-danger; }
.video-colour  { background-color: $brand-success; }