.dept-container {
  padding-top: 20px;
}
.platform-select-container {
  margin-left: 15px;
}
.platform-container {
  width: 100%;
  text-align: center;
  //padding: 0 15px;
  .btn {
    margin-bottom: 4px;
  }
}
#platform-select-js {
  display: none;
}
.dept-item {
  text-align:    center;
  float:         left;
  margin-bottom: 8px;
  font-size:     95%;

  .dept-item-title {
    height:     17px;
    overflow:   hidden;
    margin-top: 2px;
  }

  .dept-item-creator {
    font-weight: 200;
    height:      17px;
  }

  .preorder-link {
    color:           steelblue;
    text-decoration: none;
  }

  .dept-item-date {
    color:  forestgreen;
    height: 18px;
  }
  .dept-item-price { color: #e50000; }
}

h4.dept-heading {
  margin-bottom: 20px;
  padding:       0 5px;
  font-size:     135%;
  font-weight:   200;
}

.view-all {
  margin-top:   9px;
  margin-right: 10px;
  float:        right;
}

.dept-item-img {
  box-shadow:     2px 2px 3px rgba(0,0,0,0.08);
  border-radius:  0px;
  margin-bottom:  3px;
}

#dots {
  display:        block;
  text-align:     center;
  margin-top:     18px;
  margin-bottom:  -10px;
}
.dot {
  display:          inline-block;
  width:            12px;
  height:           12px;
  border-radius:    6px !important;
  background-color: #eeeeee;
  margin-right:     25px;
}
.dot:last-of-type {
  margin-right: 0;
}
.dot-active {
  background-color: #cacaca;
}

div.variation-caption{
  position:  absolute;
  left:      0;
  right:     0;
  width:     95px;
  margin:    0 auto;
  font-size: 80%;
  padding:   4px;
  overflow:  hidden;

  /* styling */
  // TODO: Make these styles sexier and cross-browser
  background-image: -webkit-gradient(
                  linear, left top, left bottom, from(rgba(50,50,50,0.7)),
                  to(rgba(100,150,240,0.1)), color-stop(.4,#333333)
  );
  color:    white;
  opacity:  0.9;
  //filter:   alpha(opacity=65);
}

/*
 * index_slider.js.jsx styles
 */

.chevron {
  padding:    0 !important;
  text-align: center !important;
  //width:      6% !important;

  a {
    color:    #ddd;
    font-size: 110%;
    display: block;
    //padding: 0 5px;
    width: 100%;
  }
  a:hover {
    background: #fafafa;
    border-right: 0;
    color:    #cccccc;
    //color: white;
  }
  a.disabled {
    color: #f2f2f2;
  }
  a.disabled:hover {
    background: none;
  }
}



/*
.carousel-enter {
  opacity: 0.1;
  transition: opacity .4s ease-in;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  -webkit-timing-function: ease-in;
  position: absolute;
  z-index: 2;
}
.carousel-enter.carousel-enter-active {
  opacity: 1;
}
.carousel-leave {
  opacity: 1;
  transition: opacity .4s ease-in;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  -webkit-timing-function: ease-in;
}
.carousel-leave.carousel-leave-active {
  opacity: 0.01;
}


.carousel-right-enter {
  position: absolute;
  -webkit-transition: all .1s ease-in;
  -webkit-transform:  translate3d(100%,0,0);
  z-index: 2;
}
.carousel-right-enter.carousel-right-enter-active {
  -webkit-transform: translate3d(0,0,0);
}
.carousel-right-leave {
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .1s ease-in;
}
.carousel-right-leave.carousel-right-leave-active {
  -webkit-transform: translate3d(-100%,0,0);
}*/